body{
	background: rgb(131,58,180);
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.main-list{
	margin: auto auto;
	border-radius: 5px;
	padding: 20px 30px;
	display: flex;
	flex-direction: column;
	width: 600px;
	min-height: 400px;
	align-items: center;
}

.header-list{
	text-align: center;
	background: transparent;
	border: none;
	align-self: center; 
	font-size: 35px;
	color: white;
	margin-bottom: 20px;
	width: 100%;
}

.header-list:focus{
	outline: none!important;
}

.task{
	transition: 0.2s;
	background: white;
	display: flex;
	padding: 10px 20px;
	border-radius: 5px;
	margin-bottom:10px;
	position: relative;
	transform: scale(0.95,0.95);
	opacity: 0;
}


.list{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-basis: 70%;
	min-height: 300px;
}

.checkbox-task{
	order: -1;
	margin-right: 10px;
	align-self: flex-start;
	width: 20px;
	height: 20px;
}

.text-task{
	width: 550px;
	border: none;
	outline: none!important;
	background: transparent;
	font-size: 18px;
}

.input-text{
	margin-top: 20px;
	resize: none;
	width: 97.4%;
	height: 80px;
	border-radius: 5px;
	padding: 8px;
	font-size: 18px;
	border: none;
	outline: none!important;
}

.checked{
	color: gray!important;
	text-decoration: line-through;
}

.hidden{
	display: none;
}

.display-empty{
	min-height: 300px;
}

.display-empty h2{
	font-size: 25px;
	margin: 30% 10%;
	color: white;
	text-align: center;
}

.input-form{
	width:105%;
}

.prior1{
	font-weight: bold;
	color: red;
}

.prior2{
	font-weight: bold;
	color: orange;
}

.prior3{
	color: blue;
}

.prior4{
	color: black;
}

.input-prior{
	cursor: pointer;
	outline: none!important;
	margin-top:10px;
	height: 30px;
	border-radius: 5px;
	padding-left: 5px;
	width: 170px; 
	border: none;
	background: white;
}

.list-prior div{
	border-radius: 5px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.list-prior div button{
	height: 50px;
	border:none;
	background: white;
	transition: 0.3s;
}

.list-prior div button:hover{
	background: blue;
	color: white;
}

.animate-hid{
	opacity: 0;
	transform: scale(0.7, 0.7); 
}

.with-date p{
	border: none;
	width: 80px; 
	margin: 0px 2px;
	font-size: 13px;
}

.with-date input{
	margin-top: 3px;
	margin-bottom: 2px;
}

.days{
	cursor: pointer;
	margin-left: 15px;
	margin-top: 10px;
}

.days .calendar{
	width: 100px;
	height: 30px;
	border-radius: 5px;
	border: none;
	background: white;
}

.btn-input{
	display: flex;
}

input[type="checkbox"]{
	display: none;
}

input[type="checkbox"]+label::before{
	cursor: pointer;
	content: "";
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: 3px 5px 0 0;
	background: white;
	border: 1px solid lightgray;
	border-radius: 20px;
	transition: 0.2s;
	background-repeat: no-repeat;
	background-position: center;
}
input[type="checkbox"]:checked + label::before{
	background: url(ok.svg);
	border: 1px solid lightgray;
	background-repeat: no-repeat;
	background-position: center;
	transform: rotate(360deg);
}


